<header id="header" class="alt">
	<h1 id="logo"><%= link_to "Dollar Bank Club", root_path %></h1>
	
	<nav id="nav">
		<ul>
			<% if session[:vendor_id] %>
				<li><%= Vendor.find_by(id: session[:vendor_id]).email %></li>
				<li><%= link_to "Log out", logout_path, method:"delete" %></li>
			<% else %>
				<li><a href="/login" class="button special">Log In</a></li>
				<li><%= link_to "Sign Up", new_vendor_path %></li>
			<% end %>
		</ul>
	</nav>
</header>