<header id="header" class="alt">
	<h1 id="logo"><%= link_to "Dollar Bank Club", root_path %></h1>
	
	<nav id="nav">
		<ul>
			<% if session[:vendor_id] %>
				<li><p class="button"><a href="documentation">Developer</a></p></li>
				<li><%= Vendor.find_by(id: session[:vendor_id]).email %></li>
				<li><%= link_to "Log out", logout_path, method:"delete" %></li>
			<% else %>
				<li><p class="button"><a href="documentation">Developer</a></p></li>
				<li><p class="button"><a href="/login">Log In</a></p></li>
				<li><p class="button"><%= link_to "Sign Up", new_vendor_path %></p></li>
			<% end %>

		</ul>
	</nav>
</header>