<h1>BC Exchange Checkout</h1>

<div id="pay" style='position: absolute; top: 200px; left: 200px;'></div>

<%= javascript_include_tag 'paymentForm' %>

<script type='text/javascript'>
	console.log("hello world");
	inDogeModal('pay', 100, 'USD', '98730947sadf7a23');
</script>