<script src='https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css'></script>
<link rel="stylesheet" href='https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/languages/1c.min.js'>
<script src='https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/highlight.min.js'></script>
<script>hljs.initHighlightingOnLoad();</script>

<div class='container'>
	<div class="row">
	  <div class="twelve columns">
	  	<h2>What's up, Doc?</h2>
			<p>Embed InDoge.js on your webpage in seconds</p>
			<p>The script provides an embed form that can charge your customer's credit card or bank account, and deposit the equivalent amount of bitcoin in your wallet.</p>

			<h2>What you need</h2>
<!-- 			<ol>
				<li>A vendor account</li>
				<li>The InDoge script</li>
			</ol>

			<h2>How to embed InDoge</h2>
			<ol>
				<li>Include the InDoge Checkout CDN</li>
				<li>Add a container div for InDoge form</li>
				<li>Instantiate the InDoge object. It requires three parameters: 
					<ol>
						<li>container id,</li>
						<li>total charge,</li>
						<li>currency ('USD' is the only supported currency at this time)</li>
					</ol>
				</li>
			</ol>	 -->

			<ul>
			  <li>Item 1</li>
			  <li>
			    Item 2
			    <ul>
			      <li>Item 2.1</li>
			      <li>Item 2.2</li>
			    </ul>
			  </li>
			  <li>Item 3</li>
			</ul>


			<h2>Example</h2>

			<pre>
				<code class='html'>
					<div id='InDoge'></div>
					<script src='http://indogewetrust.com/checkout'></script>
					<script type='text/javascript'>
						InDoge('InDoge', 20.00, 'USD');
					</script>
				</code>
			</pre>

			<p>That's it! You can now receive bitcoin for any dollar transaction.</p>

		</div>
</div>

</div>



