<h1>Checkout</h1>
<div>
<form id="pay" method='POST' action='/payment'>
	<input type='hidden' name='<%= request_forgery_protection_token.to_s %>' value='<%= form_authenticity_token %>'></input>


</form>
</div>


<script src="https://js.braintreegateway.com/js/braintree-2.21.0.min.js"></script>

<script type="text/javascript">
	braintree.setup(
		"<%= @token %>", 
		"dropin", {
	  container: "payment-form"
	});
</script>


<%= javascript_include_tag 'paymentForm' %>