<div id='vendorNew'>
	<h1>New Vendor</h1>

	<form action="/vendors" method="post" class="form-group">
		<%= hidden_field_tag :authenticity_token, form_authenticity_token -%>

		<div class="">
			<label>Email</label>
			<input type="email" name="vendor[email]" placeholder="Email">
		</div>

		<div>
			<label>Password</label>
			<input type="password" name="vendor[password]" placeholder="Password">
		</div>

		<div>
			<label>Password Confirmation</label>
			<input type="password" name="vendor[password_confirmation]" placeholder="Password Confirmation">
		</div>

		<button class="button">Submit</button>
	</form>
</div>

