<div id='vendorsNew'>
	<h1>New Vendor</h1>

	<form action="/vendors" method="post">
		<%= hidden_field_tag :authenticity_token, form_authenticity_token -%>

		<div>
			<label>Email</label>
			<input type="email" name="vendor[email]" placeholder="Email">
		</div>

		<div>
			<label>Business Name</label>
			<input type="text" name="vendor[businessName]" placeholder="Business Name (Optional)">
		</div>

		<div>
			<label>Wallet ID</label>
			<input type="integer" name="vendor[walletID]" placeholder="Wallet ID">
		</div>

		<div>
			<label>Password</label>
			<input type="password" name="vendor[password]" placeholder="Password">
		</div>

		<div>
			<label>Password Confirmation</label>
			<input type="password" name="vendor[password_confirmation]" placeholder="Password Confirmation">
		</div>

		<button>Submit</button>
	</form>
</div>

