<div id="vendorsShow">
	<div class="row">
		<div class="8u">
			<h2>My Account</h2>
			<p>Wallet Address: sk23k124dskj2l1jj1sjk1</p>

			<h2>Transactions</h2>

			<ul>
				<% @transactions.each do |transaction| %>

					<li>
						<%= transaction.id %>: 
						$<%= transaction.amount %> <%= transaction.currency %>
					</li>

				<% end %>

			</ul>
		</div>

		<div class="4u">
			<h2>Account Balance</h2>
			<h2 class="account-balance">$<%= @balance %></h2>
			<button class='button button-primary margin-center'>Withdraw</button>
		</div>
	</div>

	<div class="row">
		<div class="4u -8u">
			<h2>Verification Status</h2>
		</div>
	</div>
</div>