<div id="vendorsShow">
	<div class="row">
		<div class="8u">
			<h2>My Account</h2>
		</div>

		<div class="4u">
			<h2>Account Balance</h2>
		</div>
	</div>

	<div class="row">
		<div class="4u -8u">
			<h2>Verification Status</h2>
		</div>
	</div>
</div>