function renderPaymentModal ( elementId, amount, currency, merchantId) {
	console.log('now in renderPaymentModal');

	file = location.pathname.split( "/" ).pop();

	link = document.createElement( "link" );
	// link.href = file.substr( 0, file.lastIndexOf( "." ) ) + ".css";
	link.href = "../stylesheets/modal.css";
	link.type = "text/css";
	link.rel = "stylesheet";

	var btScript = document.createElement("script");
	btScript.type = "text/javascript";
	btScript.src = "https://js.braintreegateway.com/js/braintree-2.21.0.min.js";

	document.getElementsByTagName("head")[0].appendChild(link);

	var   
	pay = document.getElementById(elementId),
	divOpen = "<div id='formModal'>",
	formOpen = "<form method='POST' action='/payment'>",
	ccInput = "<div id='payment-form'></div><br>",
	closeButton = "<span id='close'>X</span>",
	hiddenAmount = "<input type='hidden' value=" + amount + ">",
	hiddenCurrency = "<input type='hidden' value='" + currency + "''>",
	hiddenVendorId = "<input type='hidden' value='" + merchantId +"'>",
	submitButton = "<input type='submit' value='Submit'>",
	formClose = "</form>",
	divClose = "</div>",
	modalBtn = "<button id='checkoutBtn'>Pay using our platform.</button>",
	content = divOpen + formOpen + closeButton + ccInput + hiddenAmount + hiddenCurrency + submitButton + formClose + divClose + modalBtn;

	pay.innerHTML = content;
	// console.log(pay.innerHTML);

	// Get the modal
	var modal = document.getElementById("formModal");

	// Get the button that opens the modal
	var btn = document.getElementById("checkoutBtn");

	// Get the <span> element that closes the modal
	var span = document.getElementById("close");

	// When the user clicks on the button, open the modal 
	btn.addEventListener('click', function() {
	    modal.style.display = "block";
	    console.log("it works");
	})

	// When the user clicks on <span> (x), close the modal
	span.addEventListener('click', function() {
		console.log("span clicked");
	    modal.style.display = "none";
	})

	// When the user clicks anywhere outside of the modal, close it
	window.addEventListener('click', function(event) {
	    if (event.target == modal) {
	    	console.log("Clicked outside modal");
	        modal.style.display = "none";
	    }
	})

	var clientToken = "eyJ2ZXJzaW9uIjoyLCJhdXRob3JpemF0aW9uRmluZ2VycHJpbnQiOiJjZjA1MmY0YWI0OWRkYjhjZjFkZTk5NWVlNTM5Y2JhZTM3NGY0NTdjMTA3ZWRjNTdiOTIxNDE0NmU1Yzk2NWQxfGNyZWF0ZWRfYXQ9MjAxNi0wMi0yOFQxNzoyNTozMC40MTEzODIwMzIrMDAwMFx1MDAyNm1lcmNoYW50X2lkPTM0OHBrOWNnZjNiZ3l3MmJcdTAwMjZwdWJsaWNfa2V5PTJuMjQ3ZHY4OWJxOXZtcHIiLCJjb25maWdVcmwiOiJodHRwczovL2FwaS5zYW5kYm94LmJyYWludHJlZWdhdGV3YXkuY29tOjQ0My9tZXJjaGFudHMvMzQ4cGs5Y2dmM2JneXcyYi9jbGllbnRfYXBpL3YxL2NvbmZpZ3VyYXRpb24iLCJjaGFsbGVuZ2VzIjpbXSwiZW52aXJvbm1lbnQiOiJzYW5kYm94IiwiY2xpZW50QXBpVXJsIjoiaHR0cHM6Ly9hcGkuc2FuZGJveC5icmFpbnRyZWVnYXRld2F5LmNvbTo0NDMvbWVyY2hhbnRzLzM0OHBrOWNnZjNiZ3l3MmIvY2xpZW50X2FwaSIsImFzc2V0c1VybCI6Imh0dHBzOi8vYXNzZXRzLmJyYWludHJlZWdhdGV3YXkuY29tIiwiYXV0aFVybCI6Imh0dHBzOi8vYXV0aC52ZW5tby5zYW5kYm94LmJyYWludHJlZWdhdGV3YXkuY29tIiwiYW5hbHl0aWNzIjp7InVybCI6Imh0dHBzOi8vY2xpZW50LWFuYWx5dGljcy5zYW5kYm94LmJyYWludHJlZWdhdGV3YXkuY29tIn0sInRocmVlRFNlY3VyZUVuYWJsZWQiOnRydWUsInRocmVlRFNlY3VyZSI6eyJsb29rdXBVcmwiOiJodHRwczovL2FwaS5zYW5kYm94LmJyYWludHJlZWdhdGV3YXkuY29tOjQ0My9tZXJjaGFudHMvMzQ4cGs5Y2dmM2JneXcyYi90aHJlZV9kX3NlY3VyZS9sb29rdXAifSwicGF5cGFsRW5hYmxlZCI6dHJ1ZSwicGF5cGFsIjp7ImRpc3BsYXlOYW1lIjoiQWNtZSBXaWRnZXRzLCBMdGQuIChTYW5kYm94KSIsImNsaWVudElkIjpudWxsLCJwcml2YWN5VXJsIjoiaHR0cDovL2V4YW1wbGUuY29tL3BwIiwidXNlckFncmVlbWVudFVybCI6Imh0dHA6Ly9leGFtcGxlLmNvbS90b3MiLCJiYXNlVXJsIjoiaHR0cHM6Ly9hc3NldHMuYnJhaW50cmVlZ2F0ZXdheS5jb20iLCJhc3NldHNVcmwiOiJodHRwczovL2NoZWNrb3V0LnBheXBhbC5jb20iLCJkaXJlY3RCYXNlVXJsIjpudWxsLCJhbGxvd0h0dHAiOnRydWUsImVudmlyb25tZW50Tm9OZXR3b3JrIjp0cnVlLCJlbnZpcm9ubWVudCI6Im9mZmxpbmUiLCJ1bnZldHRlZE1lcmNoYW50IjpmYWxzZSwiYnJhaW50cmVlQ2xpZW50SWQiOiJtYXN0ZXJjbGllbnQzIiwiYmlsbGluZ0FncmVlbWVudHNFbmFibGVkIjp0cnVlLCJtZXJjaGFudEFjY291bnRJZCI6ImFjbWV3aWRnZXRzbHRkc2FuZGJveCIsImN1cnJlbmN5SXNvQ29kZSI6IlVTRCJ9LCJjb2luYmFzZUVuYWJsZWQiOmZhbHNlLCJtZXJjaGFudElkIjoiMzQ4cGs5Y2dmM2JneXcyYiIsInZlbm1vIjoib2ZmIn0=";

	document.getElementsByTagName("head")[0].appendChild(btScript);
	console.log(document.getElementsByTagName("head")[0]);
	btScript.onload = function () {
		console.log('btScript has loaded.');
		console.log('<%= @token %>')
		braintree.setup(
			// "<%= @token %>", 
			clientToken,
			"dropin", {
		  container: 'payment-form'
		});	
	}
}

// renderPaymentModal('pay', 100, 'USD', '98730947sadf7a23');

